#short-hr {
  margin-top: 0;
  margin-bottom: 20px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.posts-list {
  height: 70vh;
  width: 100vw;
  display: block;
  padding-block: 20px;
  padding-inline: 10px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #29196d;
}

.post-card {
  margin-inline: auto;
  width: 100%;
  max-width: 680px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  margin-bottom: 50px;
}

.post-card:hover {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.post-author {
  display: flex;
  align-items: flex-start;
  gap: 0.2rem;
  margin-block: 0;
  padding-block: 0;

}

.post-id {
  position: sticky;
  left: 80%;
  border-radius: 50%;
  background-color: #2563eb;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
}

.post-topic {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2e2e2e;
  background-color: #ffffff;
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
  border-radius: 10px;
  margin-bottom: 0;
  line-height: 1.3;
}


.datetime-label {
  padding: 0;
}

.post-author img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.post-avatar {
  font-size: 2rem;
  color: #3b82f6;
}

.author-name {
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
}

.author-label {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
  color: #777;
  font-style: italic;
  display: inline-flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  width: 100%;
}

#post-image {
  width: 100%;
  height: auto;
  display: flex;
  margin-inline: auto;
  border-radius: 20px;
  border: 2px solid #2563eb;
}

.post-answer {
  background-color: #c0ddff;
  border: 1px solid #cfe1ff;
  border-radius: 12px;
  padding: 0 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.5;
}

.comments-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #2563eb;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: color 0.3s ease;
}

.comments-toggle:hover {
  color: #1d4ed8;
}

.create-post-button {
  background-color: #29196d;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  border: whitesmoke 2px solid;
  cursor: pointer;
  transition: all ease 0.3s;
}
.create-post-button:hover{
  transform: scale(1.05);
  background-color: #250a85;
}